/* red: F64747; */

/*body, html{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  text-align: center;
  font-family: 'Permanent Marker', cursive;

}*/

body {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: -webkit-linear-gradient(
    135deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* -webkit-animation: Gradient 15s ease infinite; */
  /* animation: Gradient 5s ease infinite; */
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#tagline {
  color: gold;
  font-size: 7em;
  margin-bottom: 0;
}

.container {
    
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 2rem auto 0;
}

button:focus,
fn-audio-element square {
  outline: 0;
}

.square {
  border-radius: 15px;
  border: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#30cfd0),
    to(#330867)
  );
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: -o-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family: "Permanent Marker", cursive;
  font-size: 27px;
  color: white;
  display: inline-block;
  margin: auto;
  margin-left: 1em;
  margin-bottom: 1em;
  position: relative;
  height: 180px;
  top: 21%;
  width: 180px;
}

.square:not(.empty):hover, .square:not(.empty).active { 
  background-image: -webkit-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
  background-image: -o-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-bottom: 5px solid #ff38e4;
}

.square:active {
  border: 5px solid #ff38e4;
}

@media only screen and (max-width: 500px) {
  #tagline {
    font-size: 3em;
  }
  .square {
    width: 100%;
    height: 2em;
    margin-left: 0;
  }
}
